.popup__form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: calc(100% - 72px);
    height: 100%;
}

@media screen and (max-width: 424px) {
    .popup__form {
        max-width: calc(100% - 44px);
    }
}